<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
			rel="stylesheet"
		/>
		<link type="text/css" rel="stylesheet" href="/css/index.css" />
		<title>Join - Play-Me-Chess</title>
	</head>
	<body>
		<header class="w-50 mx-auto">
			<h1 class="text-center mt-4 mb-3"><strong>Play-Me-Chess</strong></h1>
		</header>

		<div class="login-container">
			<h2>Join Now — It’s Free & Easy!</h2>
			<form class="m-4" action="/users/join" method="POST">
				<div class="login-form">
					<label for="username"></label>
					<input
						type="text"
						id="username"
						class="form-control form-control-lg"
						name="username"
						placeholder="Enter username..."
						required
					/>
					<i class="fas fa-check-circle"></i>
					<i class="fas fa-exclamation-circle"></i>
					<small>Username already taken</small>
					<input
						type="password"
						class="form-control form-control-lg"
						name="password"
						placeholder="Password"
					/>
				</div>
				<button
					type="submit"
					id="login"
					class="my-4 btn-lg btn-primary btn-block"
				>
					<strong>Create Your FREE Acount</strong>
				</button>
			</form>
		</div>
	</body>
</html>
