<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/f5c3afdb68.js"
			crossorigin="anonymous"
		></script>
		<link type="text/css" rel="stylesheet" href="/css/index.css" />
		<link type="text/css" rel="stylesheet" href="/css/member.css" />
		<title>Login - Play-Me-Chess</title>
	</head>
	<body>
		<header>
			<h1 class="text-center"><strong>Play-Me-Chess</strong></h1>
		</header>

		<main>
			<div class="member-container d-flex flex-column mx-auto">
				<form action="/users/login" method="POST">
					<div class="member-form">
						<div class="username-input <%= userCheck %>">
							<input
								type="text"
								class="form-control <%= usernameInputBorder %>"
								name="username"
								placeholder="Username"
								required
							/>
							<i class="fas fa-exclamation-circle"></i>
							<small>Invalid username</small>
						</div>
						<div class="password-input <%= passwordCheck %>">
							<input
								type="password"
								class="form-control <%= passwordInputBorder %>"
								name="password"
								placeholder="Password"
								required
							/>
							<i class="fas fa-exclamation-circle"></i>
							<small>Invalid password</small>
						</div>
					</div>
					<button
						type="submit"
						id="submit-btn"
						class="btn btn-primary btn-block"
					>
						<strong>Log In</strong>
					</button>
				</form>
				<a href="/users/register" class="member-link text-center"
					><span>New?</span> Sign up - it's FREE!</a
				>
			</div>
		</main>

		<script>
			if (navigator.userAgent.indexOf('Chrome') === -1) {
				const head = document.getElementsByTagName('HEAD')[0]
				const link = document.createElement('link')

				link.type = 'text/css'
				link.rel = 'stylesheet'
				link.href = '/css/nonChromeBrowser.css'

				head.appendChild(link)
			}
		</script>
	</body>
</html>
