<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
			rel="stylesheet"
		/>
		<link type="text/css" rel="stylesheet" href="/css/index.css" />
		<script
			src="https://kit.fontawesome.com/f5c3afdb68.js"
			crossorigin="anonymous"
		></script>
		<script src="/socket.io/socket.io.js"></script>
		<title>Login - Play-Me-Chess</title>
	</head>
	<body>
		<header class="w-50 mx-auto">
			<h1 class="text-center mt-4 mb-3"><strong>Play-Me-Chess</strong></h1>
		</header>

		<main
			class="d-flex flex-column justify-content-center w-25 text-center mx-auto mt-5 px-4 login-container"
		>
			<form action="/users/login" method="POST">
				<div class="login-form">
					<input
						type="text"
						id="username"
						class="p-3 form-control form-control-lg"
						name="username"
						placeholder="Username"
						required
					/>
					<i class="fas fa-check-circle"></i>
					<i class="fas fa-exclamation-circle"></i>
					<small>Username or password incorrect</small>
					<input
						type="password"
						class="my-4 p-3 form-control form-control-lg"
						name="password"
						placeholder="Password"
					/>
				</div>
				<button type="submit" id="login" class="my-4 btn btn-primary btn-block">
					<strong>Log In</strong>
				</button>
			</form>
			<a href="/users/join"><span>New?</span> Sign up - it's FREE!</a>
		</main>
	</body>
</html>
