<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
		/>
		<script
			src="https://kit.fontawesome.com/f5c3afdb68.js"
			crossorigin="anonymous"
		></script>
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
		></script>
		<link type="text/css" rel="stylesheet" href="/dist/css/styles.css" />
		<title>Join - Play-Me-Chess</title>
	</head>
	<body>
		<header>
			<h1 class="text-center"><strong>Play-Me-Chess</strong></h1>
		</header>

		<main class="member-container d-flex flex-column mt-5 mx-auto text-center">
			<h2>Join Now — It’s Free & Easy!</h2>
			<form action="/users/register" method="POST">
				<div class="member-form">
					<div class="username-input <%= userCheck %>">
						<input
							type="text"
							class="form-control <%= usernameInputBorder %>"
							name="username"
							placeholder="Username"
							required
						/>
						<i class="fas fa-exclamation-circle"></i>
						<small>Username already taken</small>
					</div>
					<input
						type="password"
						class="form-control"
						name="password"
						placeholder="Password"
					/>
				</div>
				<button type="submit" id="submit-btn" class="btn btn-primary btn-block">
					<strong>Sign Up</strong>
				</button>
			</form>
			<a href="/users/login" class="member-link text-center"
				><span>Already a member?</span> Log In</a
			>
		</main>

		<footer>
			<h3 class="role text-center">Developer</h3>
			<h3 class="name text-center m-1">Ryan Foley</h3>
			<div class="socials d-flex justify-content-center">
				<a href="https://github.com/ryfoa6">
					<ion-icon name="logo-github" class="m-1"></ion-icon>
				</a>
				<a href="https://www.linkedin.com/in/ryfoa6/">
					<ion-icon name="logo-linkedin" class="m-1"></ion-icon>
				</a>
			</div>
		</footer>

		<script>
			if (navigator.userAgent.indexOf('Chrome') === -1) {
				const head = document.getElementsByTagName('HEAD')[0]
				const link = document.createElement('link')

				link.type = 'text/css'
				link.rel = 'stylesheet'
				link.href = '/css/nonChromeBrowser.css'

				head.appendChild(link)
			}
		</script>
	</body>
</html>
