* {
	box-sizing: border-box;
}

body {
	background-color: #312e2b;
	font-family: 'Fjalla One', sans-serif;
	font-size: 68px;
}

header > h1 {
	font-size: 0.9em;
	color: white;
	-webkit-text-stroke: 0.009em #315991;
}

header #leave-game,
header #logout {
	font-size: 0.3em;
	color: white;
	-webkit-text-stroke: 0.04em red;
	cursor: pointer;
}

header #leave-game:hover,
header #logout:hover {
	color: rgb(255, 113, 113);
	text-decoration: underline overline;
	text-decoration-color: white;
}

.board {
	display: grid;
	position: relative;
	width: 10em;
	height: 10em;
	margin: 0.5em auto;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 0.04em solid white;
	border-radius: 0.06em;
	cursor: pointer;
}

.board > div {
	display: grid;
	justify-content: center;
	align-items: center;
}

.board div > img {
	width: 100%;
	height: 100%;
}

.rows-0:nth-child(even),
.rows-1:nth-child(odd),
.rows-2:nth-child(even),
.rows-3:nth-child(odd),
.rows-4:nth-child(even),
.rows-5:nth-child(odd),
.rows-6:nth-child(even),
.rows-7:nth-child(odd) {
	background: #315991;
}

.rows-0:nth-child(odd),
.rows-1:nth-child(even),
.rows-2:nth-child(odd),
.rows-3:nth-child(even),
.rows-4:nth-child(odd),
.rows-5:nth-child(even),
.rows-6:nth-child(odd),
.rows-7:nth-child(even) {
	background: #d9e0e6;
}

#black-board {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

.black-piece {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

#check-square {
	background-color: rgb(255, 160, 160);
}

#game-info-modal {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 25%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.9);
	border: 3px solid white;
	border-radius: 0.2em;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#game-info-modal > .game-info {
	display: none;
	font-size: 0.7em;
	color: white;
}

#game-info-modal > .game-result {
	display: none;
	font-size: 1em;
	color: white;
}

#promote-modal {
	display: flex;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	border: 0.04em solid white;
	border-radius: 0.2em;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#promote-modal > img {
	width: 1em;
	height: 1em;
}

@media only screen and (max-device-width: 830px), (max-device-height: 935px) {
	body {
		font-size: 62px;
	}
}

@media only screen and (max-device-width: 665px), (max-device-height: 735px) {
	body {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 615px), (max-device-height: 685px) {
	body {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 565px), (max-device-height: 635px) {
	body {
		font-size: 44px;
	}
}

@media only screen and (max-device-width: 515px), (max-device-height: 585px) {
	body {
		font-size: 41px;
	}
}

@media only screen and (max-device-width: 475px), (max-device-height: 535px) {
	body {
		font-size: 38px;
	}
}

@media only screen and (max-device-width: 435px), (max-device-height: 485px) {
	body {
		font-size: 35px;
	}
}

@media only screen and (max-device-width: 395px), (max-device-height: 435px) {
	body {
		font-size: 32px;
	}
}

@media only screen and (max-device-width: 350px), (max-device-height: 385px) {
	body {
		font-size: 28px;
	}
}
