* {
	box-sizing: border-box;
}

body {
	background-color: #312e2b;
	font-family: 'Fjalla One', sans-serif;
}

header {
	display: grid;
	height: 180px;
	justify-items: center;
}

header > h1 {
	color: white;
	font-size: 72px;
}

#start-game {
	background: url('../images/wp.svg') no-repeat;
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: 5px solid black;
	border-radius: 10px;
}

#start-game:hover {
	background: url('../images/bp.svg') no-repeat;
}

.leave-game-header {
	display: flex;
	margin-right: 100px;
	justify-content: flex-end;
}

#leave-game {
	width: 100px;
	border: 2px solid black;
}

/* .board {
	position: relative;
} */

.board {
	position: relative;
	display: grid;
	width: 806px;
	height: 806px;
	margin: 20px auto;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	cursor: pointer;
	/* border: 5px solid #312e2b; */
	border: 3px solid white;
	border-radius: 10px;
}

.board > div {
	display: grid;
	margin: 0;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
}

.row-0:nth-child(even),
.row-1:nth-child(odd),
.row-2:nth-child(even),
.row-3:nth-child(odd),
.row-4:nth-child(even),
.row-5:nth-child(odd),
.row-6:nth-child(even),
.row-7:nth-child(odd) {
	/* background: #72b872; */
	/* background: #809c5c; */
	background: #315991;
}

.row-0:nth-child(odd),
.row-1:nth-child(even),
.row-2:nth-child(odd),
.row-3:nth-child(even),
.row-4:nth-child(odd),
.row-5:nth-child(even),
.row-6:nth-child(odd),
.row-7:nth-child(even) {
	background: #d9e0e6;
	/* background: #f7f6dc; */
}

.board div > img {
	width: 100px;
	height: 100px;
}

#black-board {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

.black-piece {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

.check-text {
	display: none;
	font-size: 38px;
	text-align: center;
	background-color: rgb(255, 160, 160);
	border: 3px solid black;
}

#info {
	text-align: center;
	font-size: 32px;
}

.hide {
	display: none;
}

#check-square {
	background-color: rgb(255, 160, 160);
}

#promote-modal {
	display: flex;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid white;
	border-radius: 15px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#game-result-modal {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 25%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.9);
	border: 3px solid white;
	border-radius: 15px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.game-result {
	font-size: 72px;
	color: white;
	text-align: center;
}
