* {
	box-sizing: border-box;
}

body {
	background-color: #312e2b;
	font-family: 'Fjalla One', sans-serif;
}

header > h1 {
	font-size: 5rem;
	-webkit-text-stroke: 1px #315991;
	color: white;
}

header #leave-game,
header #logout {
	font-size: 1.5rem;
	color: white;
	-webkit-text-stroke: 1px red;
	cursor: pointer;
}

header #leave-game:hover,
header #logout:hover {
	color: rgb(255, 113, 113);
	text-decoration: underline overline;
	text-decoration-color: white;
}

.board {
	position: relative;
	display: grid;
	width: 806px;
	height: 806px;
	margin: 60px auto;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	cursor: pointer;
	border: 3px solid white;
	border-radius: 10px;
}

.board > div {
	display: grid;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.rows-0:nth-child(even),
.rows-1:nth-child(odd),
.rows-2:nth-child(even),
.rows-3:nth-child(odd),
.rows-4:nth-child(even),
.rows-5:nth-child(odd),
.rows-6:nth-child(even),
.rows-7:nth-child(odd) {
	background: #315991;
}

.rows-0:nth-child(odd),
.rows-1:nth-child(even),
.rows-2:nth-child(odd),
.rows-3:nth-child(even),
.rows-4:nth-child(odd),
.rows-5:nth-child(even),
.rows-6:nth-child(odd),
.rows-7:nth-child(even) {
	background: #d9e0e6;
}

.board div > img {
	width: 100px;
	height: 100px;
}

#black-board {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

.black-piece {
	transform: rotate(180deg);
	-moz-transform: rotate(0.5turn);
}

#check-square {
	background-color: rgb(255, 160, 160);
}

#promote-modal {
	display: flex;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid white;
	border-radius: 15px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#game-info-modal {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 25%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.9);
	border: 3px solid white;
	border-radius: 15px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

#game-info-modal > .game-info {
	display: none;
	font-size: 3rem;
	color: white;
}

#game-info-modal > .game-result {
	display: none;
	font-size: 5rem;
	color: white;
}

@media only screen and (max-device-width: 960px) {
	body {
		background-color: blue;
	}
	header > h1 {
		font-size: 4.3rem;
	}

	header #leave-game,
	header #logout {
		font-size: 1.3rem;
	}
}

@media only screen and (max-device-width: 850px) {
	body {
		background-color: red;
	}
	header > h1 {
		font-size: 4rem;
	}

	.board {
		width: 646px;
		height: 646px;
	}

	.board > div {
		width: 80px;
		height: 80px;
	}

	.board div > img {
		width: 80px;
		height: 80px;
	}

	#game-info-modal > .game-info {
		font-size: 2.5rem;
	}

	#game-info-modal > .game-result {
		font-size: 4rem;
	}
}

@media only screen and (max-device-width: 767px) {
	body {
		background-color: green;
	}
	header > h1 {
		font-size: 3rem;
	}

	header #leave-game,
	header #logout {
		font-size: 1rem;
	}

	#game-info-modal > .game-info {
		display: none;
		font-size: 1.5rem;
		color: white;
	}

	#game-info-modal > .game-result {
		font-size: 3rem;
		color: white;
	}
}

@media only screen and (max-device-width: 500px) {
	body {
		background-color: purple;
	}
	header > h1 {
		font-size: 2.5rem;
	}

	header #leave-game,
	header #logout {
		font-size: 0.75rem;
	}

	.board {
		width: 403px;
		height: 403px;
	}

	.board > div {
		width: 50px;
		height: 50px;
	}

	.board div > img {
		width: 50px;
		height: 50px;
	}
}
