* {
	box-sizing: border-box;
}

body {
	padding: 30px;
	background-color: #322f2f;
	font-family: Helvetica;
}

.login-container {
	width: 650px;
	height: 250px;
	margin: 80px auto;
	background-color: #dddddd;
	border-radius: 10px;
}

.login-form {
	position: relative;
	/* margin-bottom: 10px;
	padding-bottom: 20px; */
	border: 2px solid #f0f0f0;
	border-radius: 4px;
}

.login-form input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

/* .login-form.success input {
	border-color: #2ecc71;
} */

.login-form.error input {
	border-color: #e74c3c;
}

.login-form i {
	position: absolute;
	top: 15px;
	right: 10px;
	visibility: hidden;
}

/* .login-form.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
} */

.login-form.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.login-form small {
	visibility: hidden;
	position: absolute;
	bottom: 10;
	left: 0;
}

.login-form.error small {
	color: #e74c3c;
	visibility: visible;
}

h1 {
	font-size: 82px;
	color: rgb(120, 181, 120);
	text-align: center;
}

h2 {
	padding: 10px;
	font-size: 44px;
	text-align: center;
	border-bottom: 3px solid #322f2f;
}

#login {
	background-color: rgb(120, 181, 120);
	border: none;
}

#login:hover {
	border: 1px solid white;
}
