@font-face {
	font-family: neuropolitical;
	src: url(/fonts/neuropolitical.otf);
}

* {
	box-sizing: border-box;
}

body {
	font-size: 68px;
	background: #312e2b;
	font-family: 'Fjalla One', sans-serif;
}

header {
	width: 80vh;
	margin: 0.2em auto 0.4em;
}

header > h1 {
	-moz-font-family: 'neuropolitical', sans-serif;
	font-family: 'neuropolitical', sans-serif;
	font-size: 0.6em;
	letter-spacing: 0.1em;
	color: white;
	-webkit-text-stroke: 0.02em #315991;
}

.nav-wrapper {
	width: 3em;
}

#leave-game-btn,
#logout-btn {
	font-size: 0.3em;
	color: white;
	-webkit-text-stroke: 0.04em red;
	cursor: pointer;
}

#leave-game-btn:hover,
#logout-btn:hover {
	color: rgb(255, 113, 113);
	text-decoration: underline overline;
	text-decoration-color: white;
}
