@font-face {
	font-family: neuropolitical;
	src: url(/fonts/neuropolitical.otf);
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	overflow: hidden;
	font-size: 68px;
	background: #312e2b;
	font-family: 'Fjalla One', sans-serif;
}

header {
	margin: 3vh auto 3vh;
}

header > h1 {
	-moz-font-family: 'neuropolitical', sans-serif;
	font-family: 'neuropolitical', sans-serif;
	font-size: max(7vmin, 32px);
	letter-spacing: 0.1em;
	color: white;
	-webkit-text-stroke: max(0.1vw, 0.6px) #315991;
	margin-bottom: 1vh;
}

a#leave-game-btn,
a#logout-btn {
	font-size: max(3vmin, 18px);
	margin: 0 max(3%, 2.5em);
	color: white;
	-webkit-text-stroke: max(0.06vw, 0.4px) red;
	cursor: pointer;
}

a#leave-game-btn:hover,
a#logout-btn:hover {
	color: rgb(255, 113, 113);
	text-decoration: underline overline;
	text-decoration-color: white;
}
