main#lobby-container {
	display: grid;
	width: min(90vw, 500px);
	margin: 0.5em auto;
	color: #fff;
	border: 0.1em solid #fff;
	border-radius: 0.1em;
}

table#lobby-table {
	width: 100%;
	font-family: sans-serif;
	font-size: min(4.5vw, 0.3em);
}

thead {
	background: #312e2b;
	border: 0.07em solid #312e2b;
}

table.table-bordered th {
	border-bottom: 0.07em solid #fff;
}

table th:first-child {
	border-right: 0.07em solid #fff;
}

tbody {
	font-size: 0.75em;
	color: #fff;
}

table.table-bordered td {
	height: 2em;
	vertical-align: middle;
	border: 0.07em solid #312e2b;
}

tbody > tr:nth-child(odd) {
	background: #315991;
}

tbody > tr:nth-child(even) {
	background: #d9e0e6;
	color: #312e2b;
}

#create-game-btn {
	color: #3e70b7;
	font-family: sans-serif;
	font-size: 0.5em;
	height: 2.5em;
	letter-spacing: 0.03em;
	border-radius: 0.1em;
	border: 2px solid #000;
}

#create-game-btn:hover {
	letter-spacing: 0.06em;
	background: #fff;
	color: #5099ff;
	border: 2px solid #5099ff;
}

.join-game-btn {
	font-size: 0.75em;
}

.join-game-btn:hover {
	border: 0.05em solid #fff;
}
