* {
	box-sizing: border-box;
}

body {
	background-color: #322f2f;
	/* border: 1px solid blue; */
	font-family: Helvetica;
}

nav h1 {
	color: rgb(120, 181, 120);
}

.instructions {
	padding: 20px;
	font-size: 32px;
	color: white;
}

.lobby-container {
	display: grid;
	margin: 40px auto;
	/* width: 50%; */
	width: 400px;
	height: 400px;
	color: white;
	border: 3px solid white;
	border-radius: 10px;
}

.lobby-rooms {
	width: 100%;
	justify-items: start;
}

button {
	cursor: pointer;
}

#create-game-btn {
	font-size: 24px;
	padding: 10px;
	width: 100%;
	height: 100px;
}

#create-game-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(198, 198, 198, 0.2),
		0 6px 20px 0 rgba(198, 198, 198, 0.19);
}
