* {
	box-sizing: border-box;
}

body {
	background-color: #312e2b;
	font-family: 'Fjalla One', sans-serif;
}

header {
	font-size: 1.5rem;
}

header > h1 {
	font-size: 5rem;
	color: white;
	-webkit-text-stroke: 1px #315991;
}

header #logout {
	color: white;
	-webkit-text-stroke: 1px red;
	cursor: pointer;
}

header #logout:hover {
	color: rgb(255, 113, 113);
	text-decoration: underline overline;
	text-decoration-color: white;
}

.lobby-container {
	display: grid;
	margin: 40px auto;
	width: 400px;
	height: 400px;
	color: white;
	border: 3px solid white;
	border-radius: 10px;
}

.lobby-rooms {
	width: 100%;
	justify-items: start;
}

button {
	cursor: pointer;
}

#create-game-btn {
	font-size: 24px;
	padding: 10px;
	width: 100%;
	height: 100px;
}

#create-game-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(198, 198, 198, 0.2),
		0 6px 20px 0 rgba(198, 198, 198, 0.19);
}
