@media only screen and (max-device-width: 1014px) {
	.member-container {
		font-size: 58px;
	}
}

@media only screen and (max-device-width: 946px) {
	.member-container {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 830px), (max-device-height: 935px) {
	body {
		font-size: 62px;
	}
}

@media only screen and (max-device-width: 886px) {
	.member-container {
		font-size: 52px;
	}
}

@media only screen and (max-device-width: 826px) {
	.member-container {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 766px) {
	.member-container {
		font-size: 46px;
	}
}

@media only screen and (max-device-width: 716px) {
	.member-container {
		font-size: 43px;
	}
}

@media only screen and (max-device-width: 665px), (max-device-height: 735px) {
	body {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 656px) {
	.member-container {
		font-size: 40px;
	}
}

@media only screen and (max-device-width: 615px), (max-device-height: 685px) {
	body {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 596px) {
	.member-container {
		font-size: 37px;
	}
}

@media only screen and (max-device-width: 565px), (max-device-height: 635px) {
	body {
		font-size: 44px;
	}
}

@media only screen and (max-device-width: 552px) {
	.member-container {
		font-size: 34px;
	}
}

@media only screen and (max-device-width: 515px), (max-device-height: 585px) {
	body {
		font-size: 41px;
	}
}


@media only screen and (max-device-width: 507px) {
	.member-container {
		font-size: 31px;
	}
}

@media only screen and (max-device-width: 475px), (max-device-height: 535px) {
	body {
		font-size: 38px;
	}
}

@media only screen and (max-device-width: 462px) {
	.member-container {
		font-size: 28px;
	}
}


@media only screen and (max-device-width: 435px), (max-device-height: 485px) {
	body {
		font-size: 35px;
	}
}

@media only screen and (max-device-width: 417px) {
	.member-container {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 395px), (max-device-height: 435px) {
	body {
		font-size: 32px;
	}
}

@media only screen and (max-device-width: 350px), (max-device-height: 385px) {
	body {
		font-size: 28px;
	}
}













@media only screen and (max-device-width: 373px) {
	.member-container {
		font-size: 22px;
	}
}
@media only screen and (max-device-width: 946px) {
	.member-container {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 886px) {
	.member-container {
		font-size: 52px;
	}

@media only screen and (max-device-width: 826px) {
	.member-container {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 766px) {
	.member-container {
		font-size: 46px;
	}
}

@media only screen and (max-device-width: 716px) {
	.member-container {
		font-size: 43px;
	}
}

@media only screen and (max-device-width: 656px) {
	.member-container {
		font-size: 40px;
	}
}

@media only screen and (max-device-width: 596px) {
	.member-container {
		font-size: 37px;
	}
}

@media only screen and (max-device-width: 552px) {
	.member-container {
		font-size: 34px;
	}
}

@media only screen and (max-device-width: 507px) {
	.member-container {
		font-size: 31px;
	}
}

@media only screen and (max-device-width: 462px) {
	.member-container {
		font-size: 28px;
	}
}

@media only screen and (max-device-width: 417px) {
	.member-container {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 373px) {
	.member-container {
		font-size: 22px;
	}
}
@media only screen and (max-device-width: 946px) {
	.member-container {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 886px) {
	.member-container {
		font-size: 52px;
	}

@media only screen and (max-device-width: 826px) {
	.member-container {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 766px) {
	.member-container {
		font-size: 46px;
	}
}

@media only screen and (max-device-width: 716px) {
	.member-container {
		font-size: 43px;
	}
}

@media only screen and (max-device-width: 656px) {
	.member-container {
		font-size: 40px;
	}
}

@media only screen and (max-device-width: 596px) {
	.member-container {
		font-size: 37px;
	}
}

@media only screen and (max-device-width: 552px) {
	.member-container {
		font-size: 34px;
	}
}

@media only screen and (max-device-width: 507px) {
	.member-container {
		font-size: 31px;
	}
}

@media only screen and (max-device-width: 462px) {
	.member-container {
		font-size: 28px;
	}
}

@media only screen and (max-device-width: 417px) {
	.member-container {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 373px) {
	.member-container {
		font-size: 22px;
	}
}
@media only screen and (max-device-width: 946px) {
	.member-container {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 886px) {
	.member-container {
		font-size: 52px;
	}

@media only screen and (max-device-width: 826px) {
	.member-container {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 766px) {
	.member-container {
		font-size: 46px;
	}
}

@media only screen and (max-device-width: 716px) {
	.member-container {
		font-size: 43px;
	}
}

@media only screen and (max-device-width: 656px) {
	.member-container {
		font-size: 40px;
	}
}

@media only screen and (max-device-width: 596px) {
	.member-container {
		font-size: 37px;
	}
}

@media only screen and (max-device-width: 552px) {
	.member-container {
		font-size: 34px;
	}
}

@media only screen and (max-device-width: 507px) {
	.member-container {
		font-size: 31px;
	}
}

@media only screen and (max-device-width: 462px) {
	.member-container {
		font-size: 28px;
	}
}

@media only screen and (max-device-width: 417px) {
	.member-container {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 373px) {
	.member-container {
		font-size: 22px;
	}
}
@media only screen and (max-device-width: 946px) {
	.member-container {
		font-size: 55px;
	}
}

@media only screen and (max-device-width: 886px) {
	.member-container {
		font-size: 52px;
	}

@media only screen and (max-device-width: 826px) {
	.member-container {
		font-size: 49px;
	}
}

@media only screen and (max-device-width: 766px) {
	.member-container {
		font-size: 46px;
	}
}

@media only screen and (max-device-width: 716px) {
	.member-container {
		font-size: 43px;
	}
}

@media only screen and (max-device-width: 656px) {
	.member-container {
		font-size: 40px;
	}
}

@media only screen and (max-device-width: 596px) {
	.member-container {
		font-size: 37px;
	}
}

@media only screen and (max-device-width: 552px) {
	.member-container {
		font-size: 34px;
	}
}

@media only screen and (max-device-width: 507px) {
	.member-container {
		font-size: 31px;
	}
}

@media only screen and (max-device-width: 462px) {
	.member-container {
		font-size: 28px;
	}
}

@media only screen and (max-device-width: 417px) {
	.member-container {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 373px) {
	.member-container {
		font-size: 22px;
	}
}

@media only screen and (max-device-width: 328px) {
	.member-container {
		font-size: 19px;
	}
}
