main.member-container {
	margin: 1em auto;
	width: min(90vw, 500px);
	padding: 0.4em;
	font-size: 68px;
	background: white;
	border-radius: 0.1em;
}

main.member-container > h2 {
	font-size: 0.38em;
	margin-bottom: 1em;
}

.member-form.username-input,
.member-form.password-input {
	position: relative;
}

.member-form input {
	display: block;
	width: 100%;
	height: 2.8em;
	margin-bottom: 1.5em;
	font-family: sans-serif;
	font-size: 0.3em;
	border: 0.1em solid rgb(181, 181, 181);
}

.member-form input::placeholder {
	color: rgb(181, 181, 181);
}

.username-input,
.password-input {
	position: relative;
}

.member-form i {
	position: absolute;
	top: 0.7em;
	right: 0.4em;
	visibility: hidden;
	font-size: 0.35em;
}

.member-form small {
	position: absolute;
	bottom: -1.8em;
	left: 0em;
	visibility: hidden;
	font-size: 0.2em;
}

.member-form input.is-invalid {
	border-color: #e74c3c !important;
}

.username-input.error > i.fa-exclamation-circle,
.password-input.error > i.fa-exclamation-circle,
.username-input.error > small,
.password-input.error > small {
	color: #e74c3c;
	visibility: visible;
}

#submit-btn {
	display: inline-block;
	height: 2.1em;
	margin-bottom: 0.5em;
	font-family: sans-serif;
	font-size: 0.5em;
	text-shadow: 0 0.11em 0 var(--textShadowColor, rgba(0, 0, 0, 0.4));
	background: #3e70b7;
	border-radius: 0.45em;
}

.member-link {
	font-family: 'Fjalla One';
	font-size: 0.3em;
	color: #3e70b7;
}

.member-link > span {
	color: #312e2b;
}
